@import url("base.css");
@import url("header.css");
@import url("nav.css");

#content {
	width: 800px;
	margin: 10px auto;
}
/*左侧样式*/
.content_left {
	background: #EEEEEE;
	border: 1px solid #AAAAAA;
	width:200px;
	float: left;
	margin-right: 10px;
}
.global_module {
	position: relative;
	background: #EEEEEE;
	padding-bottom: 8px;
}
.module_up_down {
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
}
.global_module .scrollNews,.global_module .m-treeview{
	padding-left: 14px;
	padding-top:   6px;
	background: #FFFFFF;
}
.scrollNews {
	height: 98px;
	overflow: hidden;
}
.news h3,.procatalog h3,.prolist h3 {
	background: #3B5998;
	padding-left: 10px;
	height: 28px;
	line-height: 28px;
	color: #FFFFFF;
}
#tip {
	position: absolute;
	border: 1px solid #333333;
	background: #f7f5d1;
	padding: 1px;
	color: #333333;
	display: none;
}
.procatalog .m-treeview li span {
	cursor: pointer;
}
/*展开样式*/
.procatalog .m-treeview li.m-expanded {
	padding-left: 16px;
	background: url('../img/treeview-expanded.gif') no-repeat 0 0;
}
/*关闭样式*/
.procatalog .m-treeview li.m-collapsed {
	padding-left: 16px;
	background: url('../img/treeview-collapsed.gif') no-repeat 0 0;
}
.procatalog .m-treeview li.m-expanded ul li {
	list-style-image: url('../img/treeview-item.gif');
	margin-left: 14px;
}
/*右侧样式*/
.content_right {
	background: #EEEEEE;
	border: 1px solid #AAAAAA;
	width:586px;
	float: left;
}
.content_right .ad {
	margin-bottom: 10px;
	width: 586px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
.content_right .slider li {
    height: 150px;
}
.content_right .slider,.content_right .num {
	position: absolute;
}
.content_right .num {
	right: 5px;
	bottom: 5px;
}
.content_right .num .on {
	color: #FFFFFF;
	background-color: #ff7300;
	line-height: 20px;
	width: 20px;
	height: 20px;
	font-size: 1.25em;
	margin: 1px 1px;
}
.content_right .num li{
	float: left;
	color: #ff7300;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	border: #FF7300 1px solid;
	background-color: #FFFFFF;
	cursor: pointer;
	margin: 3px 1px;
}

.content_right .prolist {
	position: relative;
	height: 239px;
	margin-bottom: 8px;
	overflow: hidden;
	background: #FFFFFF;
}
.content_right .prolist .prolist_content {
	position: absolute;
	width: 1758px;
	top: 26px;
	left: 0px;
	padding: 20px 0 0 21px;
}
.content_right .prolist .prolist_content ul {
	float: left;
	height: 200px;
}
.content_right .prolist .prolist_content ul li {
	float: left;
	display: inline;
	text-align: center;
	margin-right: 35px;
}
.content_right .prolist .prolist_content ul li img {
	display: block;
	width:160px;
	height:160px;
}
.content_right .prolist .prolist_content ul li span {
	display: block;
	overflow: hidden;
}
.module_left_right {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.content_right .prolist ul li {
	float: left;
	display: inline;
	text-align: center;
	margin-right: 22px;
}
span.imageOver {
	background: url("../img/zoom.gif") no-repeat 50% 50%;
	filter: alpha(opacity=60);
	opacity: 0.6;
}





